<!DOCTYPE html>
<html lang="en">
<%- include("./components/head.ejs", {title: 'Home'}) %>
<body class="bg-[#001058]">
<%- include("./components/header.ejs") %>
<main class="mx-8 md:mx-36" hx-get="/schedule?day=<%=day%>" hx-target="#schedules-slot" hx-trigger="load" hx-include="[name='init-slot']">
    <section class="flex flex-col-reverse md:flex-row justify-center items-center py-14 gap-14 md:gap-8 lg:gap-28">
        <aside class="flex flex-col items-center md:items-start gap-6">
            <div class="text-center md:text-left">
                <h2 class="text-[#FFBF1B] font-black text-5xl">BOOKING</h2>
                <h1 class="text-white font-extrabold text-7xl">JADWAL</h1>
                <h3 class="text-white font-medium text-3xl">PANGKAS RAMBUTMU</h3>
            </div>
            <a href="#" class="font-medium text-[#001058] bg-[#FFBF1B] rounded-2xl px-6 py-3 text-3xl">Pilih Jadwal</a>
        </aside>
        <img src="/public/illustration1.png" alt="">
    </section>
    <section class="flex flex-col items-center">
        <h1 class="font-medium text-[#001058] bg-[#FFBF1B] rounded-2xl px-6 py-3 text-3xl">Lihat Jadwal</h1>
        <%- include("./components/day_cursor.ejs") %>
    </section>
    <div id="schedules-slot" class="py-2 flex flex-col items-center">
        <input type="hidden" name="init-slot" value="1">
        <p class="my-4 text-[#FFBF1B] font-medium text-xl">Loading ...</p>
    </div>
    <section class="flex flex-col-reverse lg:flex-row justify-between border-8 rounded-3xl my-10 bg-[#3155FF] pt-4 px-4 md:px-0 gap-4 md:gap-0">
        <img src="/public/illustration2.png" alt="">
        <aside class="text-white flex flex-col items-center flex-grow">
            <img src="/public/logo-light.png" alt="">
            <p>Ambil jadwalmu sebelum diambil orang</p>
            <p class="font-black text-2xl text-center">Pangkas Rambut, <span class="text-[#FFBF1B]">Pangkas Waktu</span>
            </p>
            <a href="/order"
               class="text-[#3155FF] bg-[#FFBF1B] px-4 py-2 xl:px-8 xl:py-4 rounded-xl xl:rounded-3xl mt-4 font-black text-xl xl:text-4xl text-center">Pesan
                Sekarang</a>
        </aside>
    </section>
</main>
<%- include("./components/footer.ejs") %>
<script src="/public/script.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
</body>
</html>